<Limit GET>
order deny,allow
deny from all
allow from login.shopandget.com
</Limit>

<If "%{HTTP_HOST} != 'www.login.shopandget.com'">
Redirect 302 http://shopandget.com http://login.shopandget.com
</If>
